:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

html, body {
  background-color: #F5D7D8;
  color: #421212;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Media query for devices with width greater than or equal to 768px */
@media (min-width: 768px) {
  body {
    max-width: 1100px;
    margin: 0 auto;
  }
}

main {
  flex: 1;
}

#headshot {
  border-radius: 100%;
  height: 250px; /* Use pixels instead of em for fixed-size images */
  width: 250px;
  fill: #000000;
  fill-opacity: 0.1;
}

/* Use rem instead of em for font sizes */
a:link, .project-title {
  color: #421212;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  font-weight: normal;
}

h1 {
  font-size: 3rem; /* Adjust font size for better readability */
  padding-bottom: 0;
  margin-bottom: 1rem; /* Use rem for spacing between elements */
}

p {
  font-size: 1rem; /* Adjust font size for better readability */
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; /* Use rem for spacing */
}

#home {
  display: flex;
  flex-direction: row; /* Change to column for mobile devices */
  margin-top: 2rem; /* Use rem for spacing */
}


@media (max-width: 450px) {
  #home {
    display: flex;
    flex-direction: column;
  }
}

#subheading {
  margin-left: 2rem; /* Use rem for spacing */
  padding-top: 4rem; /* Use rem for spacing */
}


h3 {
  font-size: 1.5rem; /* Adjust font size for better readability */
}

#homeH3 {
  padding-top: 0;
  margin-top: 0;
  font-size: 1.8rem; /* Adjust font size for better readability */
}

footer {
  background-color: #421212;
  margin-top: auto;
  padding: 1rem; /* Use rem for spacing */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Add media queries for additional responsiveness as needed */

.project-image {
  height: 250px;
  width: 250px;
  border-radius: 10px; /* Use pixels instead of em for fixed-size elements */
  transition: all 0.3s ease; /* Simplify transition property */
}

.project-image:hover {
  transform: scale(1.05);
}

.project-link {
  text-align: center;
