:root {
  font-family: 'Inter', sans-serif;
  margin-right: 1em;
  margin-left: 1em;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

html, body {
  background-image: linear-gradient(to bottom, #0d1c69, #a257b8);
  color: #421212;
  height: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Media query for devices with width greater than or equal to 768px */
@media (min-width: 768px) {
  body {
    max-width: 1100px;
    margin: 0 auto;
  }
}

main {
  flex: 1;
}

#headshot {
  border-radius: 100%;
  height: 250px; /* Use pixels instead of em for fixed-size images */
  width: 250px;
  fill: #000000;
  fill-opacity: 0.1;
  border: solid 4px white;
}

/* Use rem instead of em for font sizes */
a:link, .project-title {
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, p {
  font-weight: normal;
}

h1 {
  font-size: 3rem; /* Adjust font size for better readability */
  padding-bottom: 0;
  margin-bottom: 1rem; /* Use rem for spacing between elements */
}

p {
  font-size: 1rem; /* Adjust font size for better readability */
}


#home {
  display: flex;
  flex-direction: row; /* Change to column for mobile devices */
  margin-top: 2rem; /* Use rem for spacing */
}

.subheading {
  margin-left: 2rem; /* Use rem for spacing */
}

@media (max-width: 450px) {
  #home {
    display: flex;
    flex-direction: column;
  }
  .subheading {
    margin-left: 0;
    padding-top: 1rem;
  }
}


h3 {
  font-size: 1.5rem; /* Adjust font size for better readability */
}

#homeH3 {
  padding-top: 0;
  margin-top: 0;
  font-size: 1.8rem; /* Adjust font size for better readability */
}

footer {
  background-color: #a257b8;
  margin-top: auto; /* Use rem for spacing */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Add media queries for additional responsiveness as needed */

.project-image {
  height: 250px;
  width: 275px;
  border-radius: 10px; /* Use pixels instead of em for fixed-size elements */
  transition: all 0.3s ease; /* Simplify transition property */
}

.project-image:hover {
  transform: scale(1.05);
  filter: drop-shadow(.2rem .2rem .2rem #80D7E3)
}

.project-link {
  text-align: center;
}


.resume-links {
  color: #2585A5;
}

#resume-links:hover {
  color: #FE3B8D;
  cursor: pointer;
}

#resume, #about-paragraph {
  background-color: white;
  color: #0d1c69;
  padding: 2em;
  border-radius: 10px;
}

#about-paragraph {
  padding-left: 1em;
  padding-top: 1em;
}

.subheading {
  background-color: #FE3B8D;
  color: white;
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  margin-top: 7rem;
  position: relative;
  margin-right: 2em;
}

#name {
  padding-top: 0;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}



#home, #about, #resume, #projects, #contact {
  margin-bottom: 4em;
}

#project-links {
  padding: 1em 1em 1em 1em;
  text-align: center;
}

.subheading:after {
  content: '';
  position: absolute;
  top: 0; /* Position the triangle at the top */
  left: 0; /* Position the triangle at the left */
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #FE3B8D; /* Use border-right-color for the triangle color */
  border-bottom: 0;
  margin-top: -20px; /* Adjust the margin for the triangle */
  margin-left: -20px;
  transform: rotate(55deg);
}


#about-header, #projects-header, #contact-header {
  color: white;
}

header {
  padding-top: 2em;
  margin-bottom: 5em;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  background-color: #0d1c69;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-radius: 5px;
}

.left-side {
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: transform 0.2s ease;
}



.bar.active {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.active:nth-child(2) {
  opacity: 0;
}

.bar.active:last-child {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Nav styles */
.nav-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff; /* Adjust the background color as needed */
  position: absolute;
  top: 60px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  border: 3px solid #80D7E3; /* Add a border for better visibility */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for better appearance */
  display: none; /* Hide the nav links by default */
}

.nav-container.show-nav-links {
  display: flex; /* Show the nav links when the showMenu state is true */
}

.nav {
  color: #2585A5;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav:hover {
  background-color: #FE3B8D;
  color: white;
  border-radius: 3px;
}

#home-link {
  color: white;
}

#home-link:hover {
  color: #80D7E3;
  background-color: #0d1c69;
}

#project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-title:hover {
  color: #80D7E3;
}

#left-contact {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #0d1c69;
  padding: 2rem 3rem 0 3rem;
  margin-right: 5rem;
}

button {
  background-color: #0d1c69;
  color: white;
  border-radius: 3px;
  padding: 0.8rem;
  border: none;
}

button:hover {
  background-color:#FE3B8D;
  border: none;
  cursor: pointer;
}

#flex-contact {
  display: flex;
  flex-direction: row;
}

input, textarea {
  border-radius: 5px;
  border: solid 2px #0d1c69;
  padding: 1rem;
}

#form-header {
  color: #0d1c69;
}

#contact-form {
  padding: 1rem 3rem 1rem 3rem;
  background-color: white;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}


#open-resume {
  text-decoration: underline;
}

.resume-links:hover {
  color: #FE3B8D;
}

#open-resume:hover {
  color: #FE3B8D;
}

.resume-links {
  text-decoration: underline;
}





















