:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  background-color: #F5D7D8;
  color: #421212;
}

img {
  border-radius: 100%;
  height: 300px;
  width: 300px;
}

a:link {
  color: #421212;
}

h1, h2, h3, h4, p {
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

#home-link {
  margin-right: 100px;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#home {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 100px;
}

#contact-link {
  margin-right: 50px;
}

#subheading {
  margin-left: 50px;
  padding-top: 100px;
}

h3 {
  font-size: 20px;
}